<section class="about">
  {% if include.divider == true %}
    <div class="wrap"><hr/></div>
    {% endif %}
  <div class="wrap grid">

    <div class="about__image">
      <img src="{{ '/images/profile.jpg' | relative_url }}" alt="">

      {% include component-socials.html %}
    </div>

    <div class="about__content">
      <h2 class="title">Hi, We're Beautiful Labs!</h2>
      <p class="subtitle subtitle--light">A series of AI experiments wrapped and distributed as NFTs.
      </p>

      <p>A series of unique collectibles with proof of ownership stored on the Ethereum block chain. Each source image and final collectible is generated via a number of sophisticated algorithms fresh from the lab. Every detail you see here is the outcome of an experiment - letting beauty shine in the most unimaginable and unexpected ways!</p>
      <p>Every collectible is uniquely and programmatically generated - no two are exactly alike, and each one of them can be officially owned by a single person on the <a href="https://ethereum.org/en/" target="_blank">Ethereum</a> block chain. Head on over to <a href="https://opensea.io/collection/beautiful-people-labs" target="_blank">OpenSea</a> to grab your first one.</p>
    </div>
  </div>
</section>
